$white: #fff;
$f2: #f2f2f2;
$d9: #d9d9d9;
$c5: #555;
$black: #000;

$light-blue: rgb(140, 177, 210);
$light-blue-2: rgb(97, 147, 179);
$light-blue-3: rgb(59, 175, 218);
$light-blue-4: #337ab7;
$light-blue-5: #5d9cec;
$deep-blue: #0033ff;
$bluish-dark-gray: #323b44;

$pink: rgb(255, 65, 146);
$pink-2: rgb(236, 63, 129);
$pink-3: rgb(214, 62, 89);
$pink-4: rgb(185, 58, 93);
$burgundy: rgb(147, 37, 74);
$turqoise: rgb(59, 110, 128);
$dark-turqoise: rgb(20, 72, 77);
